* {
    margin: 0;
    padding: 0;
}

/*td, th { 
    border: 1px solid black;
}

table {
    border: 1px solid black;
    margin: 1px 5px 5px 1px;
}

table:hover {
    cursor: pointer;
    background-color: red;
}*/

